.sidebarList {
  max-width: 280px;
  margin-right: 40px;

  text-align: left;

  list-style: none;
}

.listItem {
  padding: 10px 4px;
  border-radius: 4px;

  cursor: pointer;
}

.listItem:hover {
  background-color: aquamarine;
}
